body{
    
    background-color: rgb(255, 255, 255);
}
    
main{background-image: url(https://image.freepik.com/vetores-gratis/linhas-diagonais-abstratas-listradas-azul-fundo-gradiente_78474-126.jpg);}

header{background-image: url(https://niazi.vtexassets.com/arquivos/ids/164814-800-auto?width=800&height=auto&aspect=true);}

footer{background-image: url(https://image.freepik.com/fotos-gratis/fundo-de-textura-de-tecido-de-algodao-amarelo-dourado_38607-424.jpg);}
    
h1, h2, h3 {
    color: rgb(255, 255, 255);
    border-top: 10px solid  rgb(255, 255, 255);
    text-decoration-line: underline;
    text-shadow: 1px 2px rgb(14, 1, 61);
    font-size:80px;
    
}
p{
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bolder;
    font-size: large;
    
}
li{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-image: url(https://image.freepik.com/vetores-gratis/linhas-diagonais-abstratas-listradas-azul-fundo-gradiente_78474-126.jpg);
}
a{
    color: rgb(255, 255, 255);
    font-size: larger;

}
label{
    color:rgb(255, 255, 255);
}
img{
    box-shadow:15px 15px  rgb(235, 181, 6);

}